.venv
*/postgres-data
*/*/node_modules
backend/*/__pycache__
backend/*/migrations
.env
*/redis-data
**/redis-data/
**/redis-data/**
redis-data/
docker/redis-data/
docker/redis-data/**
backend\__pycache__
backend/**/__pycache__/

docker/database/neo4j/data/
docker/database/neo4j/logs/
docker/database/neo4j/plugins/
docker/database/elasticsearch/
docker/postgres-data/
docker/redis-data/
docker/elasticsearch-data/
docker/database/neo4j/import/*.csv

docker/database/
docker/database/**