.venv
*/postgres-data
*/*/node_modules
backend/*/__pycache__
backend/*/migrations
.env
*/redis-data
**/redis-data/
**/redis-data/**
redis-data/
docker/redis-data/
docker/redis-data/**
backend\__pycache__
backend/**/__pycache__/
backend/

